<html>
    <head>
    </head>
    <body>
        <h1>EXAM MANAGEMENT</h1>
        <h1><%= link_to 'Go to show all subjects', show_all_subjects_path %></h1>
        <h1><%= link_to 'Go to show all locations', show_all_locations_path %></h1>
        <h1><%= link_to 'Go to about page', about_path %></h1>
    </body>
</html>