<html>
    <head>
    </head>
    <body>
        <p class="bg-primary">EXAM MANAGEMENT</p>
        <div class="container">
        <button type="button" class="btn btn-default btn-lg btn-block">
            <%= link_to 'Go to show all subjects', show_all_subjects_path %></button>
        <button type="button" class="btn btn-default btn-lg btn-block">
            <%= link_to 'Go to show all locations', show_all_locations_path %></button>
        <!--<button type="button" class="btn btn-default btn-lg btn-block">
            <%= link_to 'Go to show managed rooms', show_managed_rooms_path %></button>-->
        <button type="button" class="btn btn-default btn-lg btn-block">
            <%= link_to 'Go to about page', about_path %></button>
        </div>
    </body>
</html>